<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laboratorybackend.laboratorybackend.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.laboratorybackend.laboratorybackend.domain.Admin" >
    <id column="admin_id" property="admin_id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_at" property="created_at" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    admin_id, account, password, status, created_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{admin_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where admin_id = #{admin_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.laboratorybackend.laboratorybackend.domain.Admin" >
    insert into admin (admin_id, account, password, 
      status, created_at)
    values (#{admin_id,jdbcType=INTEGER}, #{account,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{created_at,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.laboratorybackend.laboratorybackend.domain.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="admin_id != null" >
        admin_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created_at != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="admin_id != null" >
        #{admin_id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null" >
        #{created_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.laboratorybackend.laboratorybackend.domain.Admin" >
    update admin
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null" >
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where admin_id = #{admin_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.laboratorybackend.laboratorybackend.domain.Admin" >
    update admin
    set account = #{account,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      created_at = #{created_at,jdbcType=TIMESTAMP}
    where admin_id = #{admin_id,jdbcType=INTEGER}
  </update>

<!--  Admin selectAccount(Integer account);-->
  <select id="selectAccount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from admin
    where account = #{account,jdbcType=INTEGER}
  </select>

<!--  List<Admin> selectAll();-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from admin
  </select>
</mapper>