<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laboratorybackend.laboratorybackend.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.laboratorybackend.laboratorybackend.domain.User" >
    <id column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="identity_type" property="identity_type" jdbcType="VARCHAR" />
    <result column="permission_id" property="permission_id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="created_at" property="created_at" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, account, username, password, identity_type, permission_id, phone, email,
    status, created_at
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.laboratorybackend.laboratorybackend.domain.User" >
    insert into user (user_id, account, username,
                      password, identity_type, permission_id,
                      phone, email, status,
                      created_at)
    values (#{user_id,jdbcType=INTEGER}, #{account,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR}, #{identity_type,jdbcType=VARCHAR}, #{permission_id,jdbcType=INTEGER},
            #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
            #{created_at,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.laboratorybackend.laboratorybackend.domain.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="identity_type != null" >
        identity_type,
      </if>
      <if test="permission_id != null" >
        permission_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created_at != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="identity_type != null" >
        #{identity_type,jdbcType=VARCHAR},
      </if>
      <if test="permission_id != null" >
        #{permission_id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null" >
        #{created_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.laboratorybackend.laboratorybackend.domain.User" >
    update user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="identity_type != null" >
        identity_type = #{identity_type,jdbcType=VARCHAR},
      </if>
      <if test="permission_id != null" >
        permission_id = #{permission_id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null" >
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.laboratorybackend.laboratorybackend.domain.User" >
    update user
    set account = #{account,jdbcType=INTEGER},
    username = #{username,jdbcType=VARCHAR},
    password = #{password,jdbcType=VARCHAR},
    identity_type = #{identity_type,jdbcType=VARCHAR},
    permission_id = #{permission_id,jdbcType=INTEGER},
    phone = #{phone,jdbcType=VARCHAR},
    email = #{email,jdbcType=VARCHAR},
    status = #{status,jdbcType=VARCHAR},
    created_at = #{created_at,jdbcType=TIMESTAMP}
    where user_id = #{user_id,jdbcType=INTEGER}
  </update>

  <!-- User selectByAccount(Integer account) -->
  <select id="selectByAccount" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where account = #{account,jdbcType=INTEGER}
  </select>

  <!-- List<User> getUserDetail(Integer user_id) -->
  <select id="getUserDetail" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{user_id,jdbcType=INTEGER}
  </select>

  <!-- List<User> getAllUsers() -->
  <select id="getAllUsers" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
  </select>
</mapper>